// المتغيرات
$primary-color: #1E2772;
$text-color: #000000;
$font-weight-bold: 600;
$font-size-large: 24px;
$gap-large: 1   0px;
$gap-small: 10px;

// المزيجات
@mixin flex-center($direction: row, $gap: 0) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    gap: $gap;
}

.box {
    &--logo {
        @include flex-center(column, $gap-large); // استخدام المزيج لتجميع الخصائص المشتركة
    }

    &__icon {
        @include flex-center(row, $gap-small); // استخدام المزيج لتجميع الخصائص المشتركة

        h1 {
            color: $primary-color;
            font-weight: $font-weight-bold;
            font-size: $font-size-large;
        }
    }

    &__text {
        color: $text-color;
        font-weight: $font-weight-bold;
    }
}
